body {
	background-color: #FF70A6;
}
h1 {
	font-family: sans-serif;
	font-size: 150px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #FFD670;
	text-align: center;
}
h2 {
	font-family: sans-serif;
	font-size: 70px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #FF70A6;
	text-align: center;
	margin-top: 30vh;
}
	
img{ max-width: 100% 
}



@media screen and (max-width: 768px) {
	body {
		background-color: #FFD670;
	}
	h1 { display: none;
	}

	img { display:none; }

	
	
}
@media screen and (min-width: 768px) {
	h1 { display: block;
	}
	h2{ display:none; }

}
